.Table {
    &__header,&__employees {
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
    }
    &__header {
        background: #ffe6e6;
    }
    &__employees {
        flex-direction: column;
        align-items: flex-start;
        & > div:not(:last-child) {
            border-bottom: 1px solid #ccc;
            width: 100%;
        }
    }
}